.page-transition {
  opacity: 0;
  animation: ionnet-PageTransition-FadeIn 0.5s forwards ease-in-out;
}

@keyframes ionnet-PageTransition-FadeIn {
  0% {
    transform: translate(-25%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}